<md-dialog aria-label="Profile Info">
  <md-content class="sticky-container">
    <div class="more-info-container">
      <form name="moreInfoForm" novalidate>
        <md-input-container flex>
          <label>Birthday</label>
          <input type="date" ng-model="user.birthday"> 
        </md-input-container>

        <md-input-container flex>
          <label>Name of Current School</label>
          <input name="school" ng-model="user.school">
        </md-input-container>
        <md-input-container flex>
          <label>Favorite Movies</label>
          <input name="movies" ng-model="user.movies">
        </md-input-container>
        <md-input-container flex>
          <label>Favorite Music</label>
          <input name="music" ng-model="user.music">
        </md-input-container>
        <!--Upload a profile picture -->
        <section layout="row" layout-sm="column" layout-align="center center">
          <form name="profilePicForm">

        <div flow-init flow-name="uploader.flow" class="container">
          <div>
            <!--
               -<div class="thumbnail" ng-hide="$flow.files.length">
               -  <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
               -</div>
               -<div class="thumbnail" ng-show="$flow.files.length">
               -  <img ng-model="imag1" flow-img="$flow.files[0]" />
               -</div>
               -<div>
               -  <input type="file" flow-btn flow-attrs="{accept:'image/*'}">
               -  <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
               -     ng-click="$flow.cancel()">
               -    Remove
               -  </a>
               -</div>
               -->

           <form>
                <input type="file" ng-file-select="onFileSelect($files)" >
           </form>
           <b>Preview:</b><br />
           <i ng-hide="imageSrc">No image choosed</i>
           <img ng-src="{{imageSrc}}" /><br/>
           <b>Progress:</b>
          <progress value="{{progress}}"></progress>

            <p>
              Only PNG,GIF,JPG files allowed.
            </p>
          </div>
        </div>

          </form>
        </section>
      </form>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <div ng-if="user.provider !== password">
      <md-button ng-click="import(user.provider)">
        Import From {{user.provider}}
      </md-button>
    </div>
    <md-button ng-click="cancel()">
      Maybe later
    </md-button>
    <md-button ng-click="save(user, $flow)" class="md-primary">
      Save
    </md-button>
  </div>
</md-dialog>
