<md-dialog aria-label="Profile Info">
  <md-content class="sticky-container">
    <div class="more-info-container">
      <form name="moreInfoForm" novalidate>
        <md-input-container flex>
          <label>Birthday</label>
        </md-input-container>
        <md-input-container flex>
          <label>Name of Current School</label>
        </md-input-container>
        <md-input-container flex>
          <label>Favorite Movies</label>
        </md-input-container>
        <md-input-container flex>
          <label>Favorite Music</label>
        </md-input-container>
        <!--Upload a profile picture -->
        <section layout="row" layout-sm="column" layout-align="center center">
          <md-button ng-click="#">
            Add a Profile Picture
          </md-button>
        </section>
      </form>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hideMoreInfo()">
      Maybe later
    </md-button>
    <md-button ng-click="hideMoreInfo()" class="md-primary">
      Save
    </md-button>
  </div>
</md-dialog>
