<div layout="column" flex layout-fill ng-controller='ToolBarCtrl'>
	<div class="jumbotron">
		<h1 class="md-display-3">Dashboard</h1>
	  	<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>


		<div id="wrapper">
			<div class="row fullwidth">
				<div id="content" class="small-12 medium-12 large-9 columns">
					<div id="post_1" class="post">
                        <div class="date">
                            <span class="day">22</span><br>
                            <span class="month">Apr</span>
                        </div>

						<div class="content">
							<div class="title">
								<h5 align="left">William Hernandez</h5>	
							</div>	
							<h6 align="left">01/02/2015</h6>		
							<h3 align="left">This is my test comment!</h3>									
							<hr class="postLine"> </hr>
							<div id="comment_1" class="comment">

								<div class="title">
									<h5 align="left">THE Tricia</h5>	
								</div>	
								<h6 align="left">01/02/2099</h6>		
								<h3 align="left">I LOVE MAC COMPUTERS!!!!</h3>	


								<div class="title">
									<h5 align="left">THE Tricia</h5>	
								</div>	
								<h6 align="left">01/02/2099</h6>		
								<h3 align="left">I LOVE MAC COMPUTERS!!!! This is some incredibly long post to see how things work. Mainly to see how well the post can handle long posts. Blah blah. More test to be written. I am writting whatever is coming through my thoughts.</h3>


								<div class="title">
									<h5 align="left">THE Tricia</h5>	
								</div>	
								<h6 align="left">01/02/2099</h6>		
								<h3 align="left">I LOVE MAC COMPUTERS!!!!</h3>							

		

							</div>

							<div class="commentInput">
								Picture
								<form height="100px">
									<input type="text" name="commentInput" placeholder="Write a comment...">
								</form>
							</div>

						</div>
					</div>

				</div>

			</div>		
            
		</div>



		<div id="wrapper">
			<div class="row fullwidth">
				<div id="content" class="small-12 medium-12 large-9 columns">
					<div id="post_1" class="post">
                        <div class="date">
                            <span class="day">22</span><br>
                            <span class="month">Apr</span>
                        </div>

						<div class="content">
							<div class="title">
								<h5 align="left">William Hernandez</h5>	
							</div>	
							<h6 align="left">01/02/2015</h6>		
							<h3 align="left">This is my test comment!</h3>									
							<hr class="postLine"> </hr>
							<div id="comment_1" class="comment">

								<div class="title">
									<h5 align="left">THE Tricia</h5>	
								</div>	
								<h6 align="left">01/02/2099</h6>		
								<h3 align="left">I LOVE MAC COMPUTERS!!!!</h3>	


								<div class="title">
									<h5 align="left">THE Tricia</h5>	
								</div>	
								<h6 align="left">01/02/2099</h6>		
								<h3 align="left">I LOVE MAC COMPUTERS!!!! This is some incredibly long post to see how things work. Mainly to see how well the post can handle long posts. Blah blah. More test to be written. I am writting whatever is coming through my thoughts.</h3>


								<div class="title">
									<h5 align="left">THE Tricia</h5>	
								</div>	
								<h6 align="left">01/02/2099</h6>		
								<h3 align="left">I LOVE MAC COMPUTERS!!!!</h3>							

		

							</div>

							<div class="commentInput">
								Picture
								<form height="100px">
									<input type="text" name="commentInput" placeholder="Write a comment...">
								</form>
							</div>

						</div>
					</div>

				</div>

			</div>		
            
		</div>
		


	</div>
</div>

		