<md-dialog aria-label="Change Email">
  <md-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Change Email</md-subheader>
    <div class="dialog-content">
      <p>
        Confirm new email. Please enter password.
      </p>
      <md-input-container flex>
        <label>Password</label>
        <input ng-model="input">
      </md-input-container>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Cancel
    </md-button>
    <md-button ng-click="enter(input)" class="md-primary">
      Confirm
    </md-button>
  </div>
</md-dialog>