<div class="jumbotron">
<h1 class="md-display-3">UCRPals</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="login-container">
  <div ng-controller="MainCtrl">
      <md-tabs class="md-primary" md-stretch-tabs="always" style="padding: 5px;">
        <md-tab id="tab1">
          <md-tab-label>Create Account</md-tab-label>
          <md-tab-template>

            <md-card style="margin: 1px !important">
              <form name="registrationForm" novalidate>
                <div layout layout-sm="column">
                  <md-input-container flex>
                    <label>First Name</label>
                    <input name="firstName" ng-model="user.firstName" required>
                    <span ng-show="registrationForm.$submitted && registrationForm.firstName.$error.required" class="help-block">Your First Name is required</span>
                  </md-input-container>
                  <md-input-container flex>
                    <label>Last Name</label>
                    <input name="lastName" ng-model="user.lastName" required>
                    <span ng-show="registrationForm.$submitted && registrationForm.lastName.$error.required" class="help-block">Your Last Name is required</span>
                  </md-input-container>
                </div>
                <md-input-container flex>
                  <label>E-mail</label>
                  <input type="email" name="email" ng-model="user.email" required>
                  <span ng-show="registrationForm.$submitted && registrationForm.email.$error.required" class="help-block">Enter an E-mail</span>
                  <span ng-show="registrationForm.email.$error.email" class="help-block">Invalid E-mail format</span>
                </md-input-container>
                <md-input-container flex>
                  <label>Password</label>
                  <input type="password" name="password" ng-model="user.password" required ng-minlength="5">
                  <span ng-show="registrationForm.$submitted && registrationForm.password.$error.required" class="help-block">Enter a password</span>
                  <span ng-show="registrationForm.password.$error.minlength" class="help-block">Password must be a minimum of 6 characters long</span>
                </md-input-container>
              <section layout="row" layout-sm="column" layout-align="center center">
                <p>
                  <input type="submit" class="btn btn-lg btn-success send" ng-click="createUser(user, registrationForm)" value="Sign Up">
                </p>
              </section>
            </form>

              <section layout="row" layout-sm="column" layout-align="center center">
                <md-divider layout-align="center center">
                  <md-input-container flex>
                    <label>Or Sign Up With: </label>
                  </md-input-container>
                  <a class="btn btn-social-icon btn-lg btn-primary btn-facebook-icon">
                   <i class="fa fa-facebook" ng-click=""></i>
                  </a>
                  <a class="btn btn-social-icon btn-lg btn-danger btn-google-icon">
                    <i class="fa fa-google-plus" ng-click=""></i>
                  </a>
                  <a class="btn btn-social-icon btn-lg btn-info btn-twitter-icon">
                    <i class="fa fa-twitter" ng-click=""></i>
                  </a>
                </md-divider>
              </section>

             <md-card-footer>
             <p></p>
             </md-card-footer>

            </md-card>
          </md-tab-template>
        </md-tab>
        <md-tab id="tab2">
          <md-tab-label>Login</md-tab-label>
          <md-tab-template>
            <md-card style="margin: 1px !important">
               <form name="loginForm" novalidate>
                  <md-input-container flex>
                    <label>E-mail</label>
                    <input type="text" name="email" ng-model="user.email" required>
                    <span ng-show="loginForm.$submitted && loginForm.email.$error.required" class="help-block">E-mail required</span>
                  </md-input-container>
                  <md-input-container flex>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password" required>
                    <span ng-show="loginForm.$submitted &&  loginForm.password.$error.required" class="help-block">Password required</span>
                  </md-input-container>
                  
                  <section layout="row" layout-sm="column" layout-align="center center">
                    <p>
                      <input type="submit" class="btn btn-lg btn-success" ng-click="login(user, loginForm, $event)" value="Login">
                    </p>
                  </section>
                </form>

              <section layout="row" layout-sm="column" layout-align="center center">
                <md-divider layout-align="center center">
                  <md-input-container flex>
                    <label>Or Sign Up With: </label>
                  </md-input-container>
                  <a class="btn btn-social-icon btn-lg btn-primary btn-facebook-icon">
                   <i class="fa fa-facebook"></i>
                  </a>
                  <a class="btn btn-social-icon btn-lg btn-danger btn-google-icon">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a class="btn btn-social-icon btn-lg btn-info btn-twitter-icon">
                    <i class="fa fa-twitter"></i>
                  </a>
                </md-divider>
              </section>
              
<!-- 
             <md-card-footer>
             <p></p>
             </md-card-footer>
-->
          </md-card>
          </md-tab-template>
        </md-tab>
      </md-tabs>
  </div>
</div>
