<div class="jumbotron">
<h1 class="md-display-3">UCRPals</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="login-container">
  <div ng-controller="MainCtrl">
      <md-tabs class="md-primary" md-stretch-tabs="always" style="padding: 5px;">
        <md-tab id="tab1">
          <md-tab-label>Create Account</md-tab-label>
          <md-tab-template>

            <md-card style="margin: 1px !important">
              <form name="loginForm">
                <div layout layout-sm="column">
                  <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="user.firstName">
                  </md-input-container>
                  <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="user.lastName">
                  </md-input-container>
                </div>
                <md-input-container flex>
                  <label>E-mail</label>
                  <input ng-model="user.email" required>
                </md-input-container>
                <md-input-container flex>
                  <label>Password</label>
                  <input type="password" ng-model="user.password" required>
                </md-input-container>
              <section layout="row" layout-sm="column" layout-align="center center">
                <p>
                  <a class="btn btn-lg btn-success send" style="" ng-click="createUser(user)">Sign Up</a>
                </p>
              </section>
            </form>

              <section layout="row" layout-sm="column" layout-align="center center">
                <md-divider layout-align="center center">
                  <md-input-container flex>
                    <label>Or Sign Up With: </label>
                  </md-input-container>
                  <a class="btn btn-social-icon btn-lg btn-primary btn-facebook-icon">
                   <i class="fa fa-facebook" ng-click=""></i>
                  </a>
                  <a class="btn btn-social-icon btn-lg btn-danger btn-google-icon">
                    <i class="fa fa-google-plus" ng-click=""></i>
                  </a>
                  <a class="btn btn-social-icon btn-lg btn-info btn-twitter-icon">
                    <i class="fa fa-twitter" ng-click=""></i>
                  </a>
                </md-divider>
              </section>

             <md-card-footer>
             <p></p>
             </md-card-footer>

            </md-card>
          </md-tab-template>
        </md-tab>
        <md-tab id="tab2">
          <md-tab-label>Login</md-tab-label>
          <md-tab-template>
            <md-card style="margin: 1px !important">
                <md-input-container flex>
                  <label>E-mail</label>
                  <input ng-model="user.email" required>
                </md-input-container>
                <md-input-container flex>
                  <label>Password</label>
                  <input type="password" ng-model="user.password" required>
                </md-input-container>
                
              <section layout="row" layout-sm="column" layout-align="center center">
                <p>
                  <a class="btn btn-lg btn-success" style="" ng-click="login(user)">Login</a>
                </p>
              </section>

              <section layout="row" layout-sm="column" layout-align="center center">
                <md-divider layout-align="center center">
                  <md-input-container flex>
                    <label>Or Sign Up With: </label>
                  </md-input-container>
                  <a class="btn btn-social-icon btn-lg btn-primary btn-facebook-icon">
                   <i class="fa fa-facebook"></i>
                  </a>
                  <a class="btn btn-social-icon btn-lg btn-danger btn-google-icon">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a class="btn btn-social-icon btn-lg btn-info btn-twitter-icon">
                    <i class="fa fa-twitter"></i>
                  </a>
                </md-divider>
              </section>
              
<!-- 
             <md-card-footer>
             <p></p>
             </md-card-footer>
-->
          </md-card>
          </md-tab-template>
        </md-tab>
      </md-tabs>
  </div>
</div>
