<div layout="column" flex layout-fill ng-controller='ToolBarCtrl'>

  <div class="row">
    <div class="col-md-5 col-xs-12">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-5 text-center">
              <img src="https://fbcdn-creative-a.akamaihd.net/hads-ak-xpa1/t45.1600-4/p133x133/10737148_6022815573895_1527834660_n.png" alt="" class="center-block img-circle img-thumbnail img-responsive">
            </div>
            <!--/col--> 
            <div class="col-xs-12 col-sm-7">
              <h2>Some User</h2>
              <p><strong>About: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
              <p><strong>Work: </strong>Apple</p>
              <p><strong>Studied: </strong>Computer Science</p>
              <p><strong>From: </strong>Los Angeles</p>
              <p>
            </div>
            <!--/col-->          
            <div class="clearfix"></div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->

      <!-- friends -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h4>Friends - <small>6</small></h4>

                  <div class="row">
                    <div class="col-sm-4 event">
                      <div class="thumbnail">
                        <div class="overlay"></div>
                        <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1">
                      </div>
                    </div>
                    <div class="col-sm-4 event">
                      <div class="thumbnail">
                        <div class="overlay"></div>
                        <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?2">
                      </div>
                    </div>
                    <div class="col-sm-4 event">
                      <div class="thumbnail">
                        <div class="overlay"></div>
                        <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?3">
                      </div>
                    </div>
                    <div class="col-sm-4 event">
                      <div class="thumbnail">
                        <div class="overlay"></div>
                        <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1">
                      </div>
                    </div>
                    <div class="col-sm-4 event">
                      <div class="thumbnail">
                        <div class="overlay"></div>
                        <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?2">
                      </div>
                    </div>
                    <div class="col-sm-4 event">
                      <div class="thumbnail">
                        <div class="overlay"></div>
                        <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?3">
                      </div>
                    </div>
                  </div>
                    </div>

                  </div>
                  <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
      <!-- end friends -->



      <!-- pictures -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h4>Pictures - <small>6</small></h4>

                <div class="row">
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?2">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?3">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?2">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?3">
                    </div>
                  </div>
                </div>
                  </div>

                </div>
                <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
      <!-- end pictures -->


      <!-- Video -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h4>Video - <small>6</small></h4>

                <div class="row">
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?2">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?3">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?2">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?3">
                    </div>
                  </div>
                </div>
                  </div>

                </div>
                <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
      <!-- end Video -->


      <!-- Music -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h4>Music - <small>3</small></h4>

                <div class="row">
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?2">
                    </div>
                  </div>
                  <div class="col-sm-4 event">
                    <div class="thumbnail">
                      <div class="overlay"></div>
                      <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?3">
                    </div>
                  </div>

                </div>
            </div>

          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
      <!-- end Music -->


    </div>

    <script type="text/javascript">
    $(function() {
      $('#tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    })
    </script>

    <!-- Right-handed side -->
    <div class="col-md-7 col-xs-12">
              <div class="row">
                  <div class="col-sm-12 col-md-12">
                          <div class="user-info-block">
                              <ul class="navigation" id="tab">
                                  <li class="active">
                                      <a data-toggle="#information" href="#information">
                                          <span class="glyphicon glyphicon-envelope"></span>
                                      </a>
                                  </li>
                                  <li>
                                      <a data-toggle="#settings" href="#settings">
                                          <span class="glyphicon glyphicon-upload"></span>
                                      </a>
                                  </li>
                              </ul>
                              <div class="user-body">
                                  <div class="tab-content">
                                      <div id="information" class="tab-pane active">
                                        <div class="input-group">
                                          <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                          <span class="input-group-btn">
                                          <button class="btn btn-warning btn-sm" id="btn-chat">
                                          Send</button>
                                          </span>
                                        </div>
                                      </div>
                                      <div id="settings" class="tab-pane">
                                          <h4>Settings</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-default chat-widget">
                            <div class="panel-heading">
                                <h3 class="panel-title">Raymond Liang</h3>
                                <small>April 2 at 1:36pm</small>
                            </div>
                            <div class="panel-body">
                                <div class="row wrapper post-details">
                                    <div class="col-xs-12 col-sm-12 col-md-12 post-message">
                                        <div class="post">
                                            <p>Messsage here</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 post-attachment">
                                        <span class="avatar">
                                        <img src="https://scontent-lax.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11060867_821338217943371_3261712192790763811_n.png?oh=cb39b9ee496aa5ef9e9bbfff615c6d12&oe=55D727D4" alt="" class="img-responsive" alt="image">
                                    </span>
                                    </div>
                                </div>
                                <br />
                                <div class="row wrapper reply-message">
                                    <div class="col-xs-2 col-sm-1 col-md-1">
                                        <span class="avatar">
                                        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/v/t1.0-1/c4.4.52.52/p60x60/249090_230429963637551_176508_n.jpg?oh=e7c8cd3f0ccd99c44305dcff95f5dc51&oe=55E1DF31&__gda__=1436198074_838b8bf92dd0a31f062c960ade51fb01" class="img-responsive" alt="">
                                    </span>
                                    </div>
                                    <div class="col-xs-10 col-sm-11 col-md-11">
                                        <div class="post">
                                            <p>
                                              <a href=""><span class="posted-by">Raymond Liang</span></a>:
                                              Hey Mike...Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibut
                                              <br />
                                              <small>April 2 at 1:36pm</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row wrapper reply-message">
                                    <div class="col-xs-2 col-sm-1 col-md-1 ">
                                        <span class="avatar">
                                        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10407263_10153092069927526_2345401600703274971_n.png?oh=14645e7a466aaf9494a9dc66bee4c6a6&oe=55D36C5D&__gda__=1436133640_90b26c6823f4a9a0307d4b62a3dc34dd" class="img-responsive" alt="">
                                    </span>
                                    </div>
                                    <div class="col-xs-10 col-sm-11 col-md-11">
                                        <div class="post">
                                            <p>
                                              <a href=""><span class="posted-by">William Hernandez</span></a>:
                                              Hey Mike...Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibut
                                              <br />
                                              <small>April 2 at 1:36pm</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Say something">
                                        <span class="input-group-btn">
                                          <button class="btn btn-primary" type="button">SEND</button>
                                         </span>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
    </div>
    <!--/col--> 
  </div>
  <!--/row--> 

</div>
