<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/315px-Blank_woman_placeholder.svg.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

      <h3>Personal info</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Full name:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="profile.name" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="profile.email" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Birthday:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="profile.birthday" type="text" pick-a-date="date" pick-a-date-options="{ format: 'mm-dd-yyyy' }">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Work:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="profile.work" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Education:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="profile.education" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">School:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="profile.school" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">About me:</label>
          <div class="col-lg-8">
            <textarea class="form-control" id="inputBody" ng-model="profile.aboutme" rows="8"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Favorite Movies:</label>

          <div class="col-lg-8">
            <div class="btn-group" data-toggle="buttons">
              <div class="row">
                 <div class="col-xs-8">
                    <input class="form-control" ng-model="movie" type="text">
                  </div>
                  <div class="col-xs-4">
                    <button class="btn btn-default" type="submit" ng-click="addMovie(movie);">Add</button>
                  </div>
              </div>
              <span ng-repeat="item in movies" ng-click="removeMovie($index)">{{item}} <i class="glyphicon glyphicon-remove"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Favorite Movies:</label>

          <div class="col-lg-8">
            <div class="btn-group" data-toggle="buttons">
              <div class="row">
                 <div class="col-xs-8">
                    <input class="form-control" ng-model="music" type="text">
                  </div>
                  <div class="col-xs-4">
                    <button class="btn btn-default" type="submit" ng-click="addMusic(music);">Add</button>
                  </div>
              </div>
              <span ng-repeat="item in musics" ng-click="removeMusic($index)">{{item}} <i class="glyphicon glyphicon-remove"></i></span>
            </div>
          </div>
        </div>

<md-grid-list
      md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
      md-row-height-gt-md="1:1" md-row-height="2:2"
      md-gutter="12px" md-gutter-gt-sm="8px" >
  <md-grid-tile class="yellow"
      md-rowspan="3" md-colspan="2" md-colspan-sm="1">
    <md-grid-tile-header>
      Dennis Nguyen
    </md-grid-tile-header>
  </md-grid-tile>
  <md-grid-tile class="green">
    <md-grid-tile-footer>
      <h3>#2: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile class="yellow">
    <md-grid-tile-footer>
      <h3>#3: (1r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile class="blue"
      md-rowspan="2">
    <md-grid-tile-footer>
      <h3>#4: (2r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile class="red"
      md-rowspan="2" md-colspan="2" md-colspan-sm="1">
    <md-grid-tile-footer>
      <h3>#5: (2r x 2c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
  <md-grid-tile class="green"
      md-rowspan="2" >
    <md-grid-tile-footer>
      <h3>#6: (2r x 1c)</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8 text-center">
            <input class="btn btn-primary" value="Save Changes" type="button" ng-click="">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
