<div class="jumbotron">
<h1 class="md-display-3">UCRPals</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="settings-container">
  <div ng-controller="SettingsCtrl">
    <md-tabs class="md-primary" md-stretch-tabs="always">
        <md-tab id="tab1">
          <md-tab-label>Account Settings</md-tab-label>
          <md-tab-template>
          <md-card style="margin: 1px !important">
          <md-content layout-padding>
          <form class="simple-form" name="profileForm">

          <div layout layout-sm="column">
            <label>First Name</label>
            <md-container flex>
            </md-container>

            <label>Last Name</label>
            <md-container flex>
            </md-container>
          </div>
          
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>{{ userCurrent.firstName }}</label>
                <input ng-model="user.firstName">
              </md-input-container>

              <md-input-container flex>
                <label>{{ userCurrent.lastName }}</label>
                <input ng-model="user.lastName">
              </md-input-container>
            </div>
          <div layout layout-sm="column">
            <label>Email</label>
          </div>

          <div layout layout-sm="column">
            <md-input-container flex>
              <label>{{ userCurrent.email }}</label>
              <input ng-model="user.email" >
            </md-input-container>
          </div>

          <div layout layout-sm="column">
            <md-container flex>
              <label>Password</label>
            </md-container>
            <md-container flex>
              <section layout="row" layout-sm="column" layout-align="center center">
                <md-button ng-click="" class="md-primary">
                Reset
                </md-button>
              </section>
            </md-container>
            </md-content>
          </div>

          <section layout="row" layout-sm="column" layout-align="center center">
            <md-content layout-padding>
              <md-button ng-click="saveSettings(user)" class="md-primary send">
                Save
              </md-button>
            </md-content>
          </section>

      </form>
        <md-container flex>
            <p class="md-caption"> {{ alert }}</p>
        </md-container>
      </md-content>
      </md-card>
      </md-tab-template>
      </md-tab>

        
   <!--Privacy Tab-->   
      <md-tab id="tab2">
        <md-tab-label>Privacy Settings</md-tab-label>
        <md-tab-template>
        <md-card style="margin: 1px !important">
        <md-content layout-padding>
        <form name="privacyForm">

            <!-- These should be saved pull downs -->
          <section>
            <md-container flex>
              <label>Who can see my posts?</label>
              <label>{{ userCurrent.postPrivacy }}</label>
            </md-container>
          </section>
          <section>
            <md-container flex>
              <label>Who can send me messages?</label>
              <label>{{ userCurrent.messagePrivacy }}</label>
            </md-container>
          </section>
        

          <!-- These should be saved pull downs -->
          <div layout layout-sm="row">
            <md-container flex>
              <md-select placeholder="Who can see my posts?" ng-model="privacy" ng-change="postSettings(privacy)">
                <md-option value="Everyone">Everyone</md-option>
                <md-option value="Friends">Friends</md-option>
                <md-option value="No One">No One</md-option>
              </md-select>
            </md-container>

          </div>

          <div layout layout-sm="row">
            <md-container flex>
              <md-select placeholder="Who can send me messages?" ng-model="mess" ng-change="messageSettings(mess)">
                <md-option value="Everyone">Everyone</md-option>
                <md-option value="Friends">Friends</md-option>
                <md-option value="No One">No One</md-option>
              </md-select>
            </md-container>

          </div>

        <md-card-footer>
        <p></p>
        </md-card-footer>

        </form>
        
        </md-content>
        </md-card>
        </md-tab-template>
        </md-tab>


        <md-tab id="tab3">
          <md-tab-label>Profile Settings</md-tab-label>
          <md-tab-template>
          <md-card style="margin: 1px !important">
          <md-content layout-padding>

              <div class="container">
                <h1 class="page-header">Profile</h1>
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="text-center">
                      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/315px-Blank_woman_placeholder.svg.png" class="avatar img-circle img-thumbnail" alt="avatar">
                      <h6>Upload a different photo...</h6>
                      <input type="file" class="text-center center-block">
                    </div>
                  </div>
                  <!-- edit form column -->
                  <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Birthday:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="profile.birthday" type="text" pick-a-date="date" pick-a-date-options="{ format: 'mm-dd-yyyy' }">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Work:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="profile.work" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Education:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="profile.education" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">School:</label>
                        <div class="col-lg-8">
                          <input class="form-control" ng-model="profile.school" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">About me:</label>
                        <div class="col-lg-8">
                          <textarea class="form-control" id="inputBody" ng-model="profile.aboutme" rows="8"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Favorite Movies:</label>

                        <div class="col-lg-8">
                          <div class="btn-group" data-toggle="buttons">
                            <div class="row">
                               <div class="col-xs-8">
                                  <input class="form-control" ng-model="movie" type="text">
                                </div>
                                <div class="col-xs-4">
                                  <button class="btn btn-default" type="submit" ng-click="addMovie(movie);">Add</button>
                                </div>
                            </div>
                            <span ng-repeat="item in movies" ng-click="removeMovie($index)">{{item}} <i class="glyphicon glyphicon-remove"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Favorite Movies:</label>

                        <div class="col-lg-8">
                          <div class="btn-group" data-toggle="buttons">
                            <div class="row">
                               <div class="col-xs-8">
                                  <input class="form-control" ng-model="music" type="text">
                                </div>
                                <div class="col-xs-4">
                                  <button class="btn btn-default" type="submit" ng-click="addMusic(music);">Add</button>
                                </div>
                            </div>
                            <span ng-repeat="item in musics" ng-click="removeMusic($index)">{{item}} <i class="glyphicon glyphicon-remove"></i></span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8 text-center">
                          <input class="btn btn-primary" value="Save Changes" type="button" ng-click="">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

          </md-content>
          </md-card>
          </md-tab-template>
        </md-tab>



    </md-tabs>
  </div>
</div>
