<div class="jumbotron">
<h1 class="md-display-3">UCRPals</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="login-container">
  <div ng-controller="SettingsCtrl">
    <md-tabs class="md-primary" md-stretch-tabs="always">
        <md-tab id="tab1">
          <md-tab-label>Account Settings</md-tab-label>
          <md-tab-template>
          <md-card style="margin: 1px !important">
          <md-content layout-padding>
          <form class="simple-form" name="profileForm">

          <div layout layout-sm="column">
            <label>First Name</label>
            <md-container flex>
            </md-container>

            <label>Last Name</label>
            <md-container flex>
            </md-container>
          </div>
          
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>{{ userCurrent.firstName }}</label>
                <input ng-model="user.firstName">
              </md-input-container>

              <md-input-container flex>
                <label>{{ userCurrent.lastName }}</label>
                <input ng-model="user.lastName">
              </md-input-container>
            </div>
          <div layout layout-sm="column">
            <label>Email</label>
          </div>

          <div layout layout-sm="column">
            <md-input-container flex>
              <label>{{ userCurrent.email }}</label>
              <input ng-model="user.email" >
            </md-input-container>
          </div>

          <div layout layout-sm="column">
            <md-container flex>
              <label>Password</label>
            </md-container>
            <md-container flex>
              <section layout="row" layout-sm="column" layout-align="center center">
                <md-button ng-click="" class="md-primary">
                Reset
                </md-button>
              </section>
            </md-container>
            </md-content>
          </div>

          <section layout="row" layout-sm="column" layout-align="center center">
            <md-content layout-padding>
              <md-button ng-click="saveSettings(user)" class="md-primary send">
                Save
              </md-button>
            </md-content>
          </section>

      </form>
        <md-container flex>
            <p class="md-caption"> {{ alert }}</p>
        </md-container>
      </md-content>
      </md-card>
      </md-tab-template>
      </md-tab>

        
   <!--Privacy Tab-->   
      <md-tab id="tab2">
        <md-tab-label>Privacy Settings</md-tab-label>
        <md-tab-template>
        <md-card style="margin: 1px !important">
        <md-content layout-padding>
        <form name="privacyForm">

            <!-- These should be saved pull downs -->
          <md-input-container flex>
            <label>Who can see my posts?</label>
          </md-input-container>
          <md-input-container flex>
            <label>Who can send me messages?</label>
          </md-input-container>
        

          <!-- These should be saved pull downs -->
          <div layout layout-sm="column">
            <md-container flex>
              <md-select placeholder="Who can see my posts?" ng-model="postPrivacyVal">
                <md-option value="Everyone">Everyone</md-option>
                <md-option value="Friends">Friends</md-option>
              </md-select>
            </md-container>
            <md-container flex>
              <p class="md-caption"> {{ postPrivacyVal ? postPrivacyVal + ' can see your posts.' : '' }}</p>
            </md-container>
          </div>

          <div layout layout-sm="column">
            <md-container flex>
              <md-select placeholder="Who can send me messages?" ng-model="messagePrivacyVal">
                <md-option value="Everyone">Everyone</md-option>
                <md-option value="Friends">Friends</md-option>
              </md-select>
            </md-container>
            <md-container flex>
              <p class="md-caption"> {{ messagePrivacyVal ? messagePrivacyVal + ' can send me messages.' : '' }}</p>
            </md-container>
          </div>

        <md-card-footer>
        <p></p>
        </md-card-footer>

        </form>
        
        </md-content>
        </md-card>
        </md-tab-template>
        </md-tab>

    </md-tabs>
  </div>
</div>
